*{
  box-sizing: border-box;
}

body{
  font-family: Arial, Helvetica, sans-serif;
}

.container{
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.product{
  background-color: #eee;
  padding: 20px;
  text-align: center;
  width: 100%;
}

.product h3{
  color: black;
}

@media (min-width:768px){

  .product{
    width: calc((100% - 30px) / 3);
  }

  .product:first-child{
    width: 100%;
  }

  .product h3{
    color: red;
  }
}

@media (min-width:992px){

  .product{
    width: calc((100% - 15px) / 2);
  }

  .product:first-child,
  .product:last-child{
    width: 100%;
  }

  .product h3{
    color: #009688;
  }
}