* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial;
}

.main-list {
  width: 400px;
  margin: 30px auto;
  padding: 20px;
  list-style: none;
}

.main-list > li {
  background-color: #ddd;
  margin-bottom: 20px;
  padding: 10px;
  font-weight: normal;
}

.main-list ol {
  margin-top: 10px;
  padding-left: 35px;
}

.main-list ol li {
  background-color: #fff;
  margin-bottom: 10px;
  padding: 8px;
  font-weight: normal;
}

.js {
  margin-top: 10px;
  padding-left: 5px;
  list-style: circle inside;
}

.js li {
  background-color: #fff;
  margin-bottom: 10px;
  padding: 8px;
  font-weight: normal;
}