.element {
    width: 400px;
    background-color: #eee;
    padding: 20px;
    margin: 20px;
    font-size: 20px;
}

.element-1 {
    border-left: 5px solid #e91e63;
}

.element-2 {
    visibility: hidden;
}

.element-3 {
    border-left: 5px solid teal;
}