body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

a {
    display: inline-block;
    background-color: #0f8f7f;
    color: white;
    text-decoration: none;
    font-size: 50px;
    font-weight: bold;
    padding: 30px 80px;
    text-transform: capitalize;
    margin-top: 100px;
    border-bottom: 20px solid #0b5e55;
}