div {
    width: 400px;
    height: 400px;
    margin: 20px;
    padding: 10px;
    background-color: #ddd;
    background-image: url("css-assignment-5-8.png");
    background-repeat: no-repeat;
    color: white;
    font-weight: bold;
    display: inline-block;
    vertical-align: top;
}

/* Shape 1 */
.assign-4-shape-1 {
    background-size: 80% 80%;
    background-position: left top;
}

/* Shape 2 */
.assign-4-shape-2 {
    background-size: 80% 100%;
    background-position: right;
}

/* Shape 3 */
.assign-4-shape-3 {
    background-size: 100% 80%;
    background-position: bottom;
}

/* Shape 4 */
.assign-4-shape-4 {
    background-size: 50% 50%;
    background-position: right bottom;
}