* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: #eee;
}

.pricing {
  width: 550px;
  margin: 100px auto;
  position: relative;
  overflow: hidden;
}

.pricing::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 100%;
  background: #2196f3;
  left: 50%;
  transform: translateX(-50%);
}

.separator {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #2196f3;
  color: #fff;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
  font-weight: bold;
}

.card {
  width: 250px;
  background: #ddd;
  padding: 20px;
  text-align: center;
}

.left {
  float: left;
}

.right {
  float: right;
}

.card h3 {
  background: #2196f3;
  color: white;
  padding: 12px 0;
  border-radius: 8px;
  margin: 0 0 25px;
}

.price {
  width: 200px;
  height: 200px;
  background: #ccc;
  margin: auto;
  line-height: 200px;
  font-size: 45px;
  border-radius: 50%;
}