* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.grid {
  background-color: #ddd;
  padding: 20px;
  width: 800px;
  height: 400px;

  display: grid;
  gap: 20px;

  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(6, 1fr);
}

.grid div {
  background-color: #2196f3;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: bold;
}

.one {
  grid-column: 1 / 4;
  grid-row: 6/-1;
}

.two {
  grid-column: 1 / 3;
}

.five {
  grid-column: 2 / 4;
  grid-row: 3 / 6;
}

.eight {
  grid-column: 1 / 4;
  grid-row: 1/2;
}