* {
  box-sizing: border-box;
}

body {
  background-color: #eee;
  justify-content: center;
}

.parent {
  width: 600px;
  height: 300px;
  margin: 50px auto;
  padding: 10px;
  background-color: #ddd;

  display: flex;
  justify-content: space-between;
}

.parent div {
  width: 100px;
  height: 50%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.one   { background-color: orange; order: 2; }
.two   { background-color: #8bc34a; order: 3; align-self: self-end; }
.three { background-color: #795548; order: 4; }
.four  { background-color: #673ab7; order: 1; align-self: self-end; }