html {
    font-size: 20px;
}

body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

/* 50px */
.one {
    font-size: 2.5rem;
}

/* 40px */
.two {
    font-size: 2rem;
}

/* 30px */
.three {
    font-size: 1.5rem;
}