body {
    background-color: #eee;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    font-size: 50px;
    text-align: center;
}

.one {
    text-transform: uppercase;
}

.two {
    text-transform: capitalize;
}

.three {
    text-transform: lowercase;
}