* {
  box-sizing: border-box;
  margin: 0;
}

.layout {
  display: grid;
  height: 100vh;

  grid-template-columns: 3fr 1fr;
  grid-template-rows: 80px 1fr 80px;

  grid-template-areas:
    "header header"
    "section aside"
    "footer footer";
}

header {
  grid-area: header;
  background-color: #2196f3;
}

section {
  grid-area: section;
  background-color: #ff5722;
}

aside {
  grid-area: aside;
  background-color: #607d8b;
}

footer {
  grid-area: footer;
  background-color: #009688;
}

header::before {
  content: "Header";
}

section::before {
  content: "Section";
}

aside::before {
  content: "Aside";
}

footer::before {
  content: "Footer";
}

/* تنسيق النص */
header,
section,
aside,
footer {
  display: flex;
  align-items: flex-start;
  padding: 20px;
  color: white;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}