div {
    margin: 20px auto;
    width: 300px;
    font-weight: bold;
    font-size: 1rem;
    padding: 20px;
    color: black;
    background-color: gray;
}

.one{
    background-color: rgba(221, 221, 221, 0.5);
}

.two{
    opacity: 0.1;
}