* {
  box-sizing: border-box;
}

body {
  background-color: #eee;
}

.parent {
  width: 600px;
  height: 300px;
  margin: 50px auto;
  padding: 10px;
  background-color: #ddd;

  display: flex;
  flex-wrap: wrap;
  column-gap: 10px;
}

.parent div {
  flex-basis: calc((100% - 20px) / 3);
  background-color: #607d8b;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  padding: 10px;
}

.six   { order: 1; }
.three { order: 2; align-self: flex-start; }
.four  { order: 3; }
.five  { order: 4; }
.two   { order: 5; }
.one   { order: 6; align-self: flex-end; }