p {
    position: relative;
    background-color: #eee;
    width: 400px;
    padding: 15px;
    margin: 15px 0 15px 120px;
}

p::before {
    content: attr(data-person);
    position: absolute;
    left: -120px;
    top: 50%;
    transform: translateY(-50%);
    width: 80px;
    padding: 10px;
    background-color: #ddd;
    text-align: center;
    font-weight: bold;
}

p {
    border-left: 5px solid #e91e63;
}

p::after {
    content: "";
    position: absolute;
    left: -30px;
    top: 50%;
    transform: translateY(-50%);
    border-width: 15px; 
    border-style: solid;
    border-color: transparent #e91e63 transparent transparent;
}