div {
    width: 400px;
    height: 400px;
    margin: 20px;
    padding: 10px;
    background-color: #ddd;
    background-image: url("css-assignment-5-8.png");
    color: white;
    font-weight: bold;
    display: inline-block;
    vertical-align: top;
}

/* Shape 1 */
.assign-3-shape-1 {
    background-repeat: no-repeat;
    background-position: left top;
}

/* Shape 2 */
.assign-3-shape-2 {
    background-repeat: repeat-y;
    background-position: right top;
}

/* Shape 3 */
.assign-3-shape-3 {
    background-repeat: repeat-x;
    background-position: left bottom;
}

/* Shape 4 */
.assign-3-shape-4 {
    background-repeat: repeat;
    background-position: left top;
}