div {
    width: 400px;
    margin: 20px auto;
    text-align: center;
    font-size: 20px !important;
    background-color: #ddd !important;
    border: 0px !important;
    position: relative;

    text-indent: -9999px;
}

div {
    color: transparent;
}

div::before {
    content: "Elzero";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-indent: 0;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}