* {
  box-sizing: border-box;
  text-align: center;
  -moz-box-sizing: border-box;
  -ms-box-sizing:border-box;
  -o-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

div {
  width: 100px;
  height: 100px;
  background-color: #eee;
  display: inline-block;
  border-radius: 50%;
  border: 5px solid black;
  margin: 30px;
  padding: 30px 15px;
  position: relative;
  counter-increment: element;
  box-shadow: -5px -5px 0 0 rgb(211, 4, 118) , 5px 5px 0 0 rgb(0, 162, 255);
}

div::before {
  content: counter(element);
  position: absolute;
  top: -15px;
  right: 30px;
  background-color: black;
  color: white;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  text-align: center;
  display: inline-block;
}