* {
  box-sizing: border-box;
}

body {
  background-color: #eee;
}

.parent {
  width: 600px;
  height: 300px;
  margin: 50px auto;
  padding: 10px;
  background-color: #ddd;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}

.parent div {
  width: calc(94% / 3);
  background-color: #f44336;
  color: white;
  text-align: center;
  padding: 5px 0;
  font-size: 20px;
}