div {
    display: inline-block;
    margin: 20px;
    padding: 20px;
    outline: 5px solid black;
}

/* Shape 1 */
.shape-1 {
    border: 5px solid red;
}

/* Shape 2 */
.shape-2 {
    border-top: 5px solid blue;
    border-right: 5px solid green;
    border-bottom: 5px solid blue;
    border-left: 5px solid green;
}

/* Shape 3 */
.shape-3 {
    border-top: 5px dashed red;
    border-right: 5px dashed green;
    border-bottom: 5px dashed blue;
    border-left: 5px dashed yellow;
}