div {
    width: 100px;
    height: 100px;
    position: absolute;
}

.blue {
    background-color: #03a9f4;
    left: 20px;
    top: 20px;
    z-index: 2;
}

.green {
    background-color: #009688;
    left: 40px;
    top: 40px;
    z-index: 3;
}

.red {
    background-color: #f44336;
    left: 60px;
    top: 60px;
    z-index: 4;
}

.black {
    background-color: #333;
    left: 20px;
    top: 40px;
    z-index: 1;
}