p {
  background-color: #eee;
  position: relative;
  background-color: #ddd;
  padding: 20px 20px 20px 80px;
  margin: 15px;
  counter-increment: product;
  width: 400px;
}

p::before {
  content: counter(product);
  position: absolute;
  left: 0;
  top: 0;
  width: 60px;
  height: 100%;
  background-color: #f44336;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

p::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 8px;
  height: 100%;
  background-color: #f44336;
}