div {
  width: 400px;
  margin: 50px auto;
  padding: 20px;
  background-color: #eee;
  border-left: 3px solid #2196f3;
  border-right: 3px solid #2196f3;
  border-top: 3px solid #f44336;
  border-bottom: 3px solid #f44336;
  position: relative;
  text-align: center;
  line-height: 1.6;
}

span {
  position: absolute;
  background-color: #2196f3;
  color: white;
  padding: 5px 10px;
  font-weight: bold;
  display: inline-block;
}

.top-left {
  top: -15px;
  left: -15px;
  border-right: 3px solid #f44336;
}

.bottom-left {
  bottom: -15px;
  left: -15px;
  border-right: 3px solid #f44336;
}

.top-right {
  top: -15px;
  right: -15px;
  border-left: 3px solid #f44336;
}

.bottom-right {
  bottom: -15px;
  right: -15px;
  border-left: 3px solid #f44336;
}